<%- include('partials/header') %>

<div class="container">
  <% if(confessions.length>0){ %>

  <h1>Read what people secretly confessed to you :)</h1>
  <% confessions.reverse().forEach(confession=>{ %>
  <div class="card m-2">
    <div class="card-body">
      <p><%= confession.msg %></p>
    </div>
  </div>
  <% }) %> <% }else{ %>
  <h1>It's lonely here :(</h1>
  <% } %>
  <p>Share this URL to your friends: <a id="post-url-self" href="<%=username %>"><%= username %></a></p>
</div>

<%- include('partials/footer') %>
